<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes cadastrados</title>

    <link rel="stylesheet" href="./pacients.view.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animação de Loading -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class='m-4'>
        <nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark'>
            <div class='container-fluid'>
                <button type='button' class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarCollapse'>
                    <span class='navbar-toggler-icon'></span>
                </button>
                <div class='collapse navbar-collapse' id='navbarCollapse'>
                    <div class='navbar-nav ms-auto'>
                        <div class='nav-item dropdown'>
                            <!-- Email do Usuário -->
                            <a 
                                style='cursor: pointer' 
                                id='pacients-email'
                                class='nav-link dropdown-toggle' 
                                data-bs-toggle='dropdown'
                            >
                            </a>
                            <!-- Opções jogar, pacientes e logout -->
                            <div class='dropdown-menu'>
                                <a style='cursor: pointer' id='pacients-gamePage' class='dropdown-item'>Jogar</a>
                                <a style='cursor: pointer' id='pacients-userPage' class='dropdown-item'>Meu perfil</a>
                                <a style='cursor: pointer' id='pacients-logout' class='dropdown-item'>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <br>
    <br>

    <div id=pacients-usersList class='card-group'></div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Firebase -->
    <script src="../../database/firebasePagesSetup.js" type="module"></script>
    <script src="./pacients.view.js" type="module"></script>
</body>
</html>