<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>VIRTUALTER - Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href='./login.view.css'/>

</head>
    <body>

        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    
                                    <h2 class="fw-bold mb-2">VIRTUALTER WEB</h2>
                                    <p class="text-white-50 mb-5">Faça o login com o seu email e senha</p>
                                    
                                    <!-- EMAIL -->
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="login-email" class="form-control form-control-lg" required='required' />
                                        <label class="form-label">Email</label>
                                    </div>
                                    
                                    <!-- SENHA -->
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="login-password" class="form-control form-control-lg" required='required'/>
                                        <label class="form-label">Senha</label>
                                    </div>
                                    
                                    <!-- BOTÃO DE LOGIN -->
                                    <button class="btn btn-outline-light btn-lg px-5" id='login-button'>Login</button>
                                    
                                    <p class="small mb-5 pb-lg-2"></p>
                                    
                                </div>
                                
                                <!-- BOTÃO PARA LEVAR AO REGISTRO -->
                                <div>
                                    <p class="mb-0">Não possui uma conta? <a href="../register/register.view.html" class="text-white-50 fw-bold">Registrar</a></p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="../../database/firebasePagesSetup.js" type="module"></script>
        <script src="./login.view.js" type="module"></script>

    </body>
</html>